.fa-youtube{
    color: red;
    transition: 1s;
}
.fa-youtube:hover{
    color: brown;
}
.tooltip{
    position: relative;/*parent position */
}
.tooltip>span{
    background-color: aquamarine;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 6px 8px maroon;
    position: absolute;/*child position */
    top: 50px;
    left: 160px;
    display:none;/*removes span line  */
}
.tooltip:hover span{
    display: block;/*to make span visible when cursor toches icon  */
}
.tooltip>span::before{
    content: "";/*compulsory if we use before and after */
    border: 10px;
   /*border-color:red  blue green pink; to get arrow mark we use below code  accordinf to arrow direction color blue is selected*/
    border-color:transparent  blue transparent transparent;
    border-style: solid;
    position: absolute;
    left: -21px;
}